[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "openal"]
	path = openal
	url = ../../kcat/OpenAL-Soft
[submodule "openxr"]
	path = openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK
