[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
